---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';
import litigationData from '~/locales/en/practice-areas/business-litigation.json';

const metadata = {
  title: litigationData.businessLitigation.title,
   description: "Business litigation attorneys offering counsel in contract disputes, partnership conflicts, and commercial litigation to protect your company’s interests."
};

const post = {
  title: litigationData.businessLitigation.title,
  image: '~/assets/images/business-litigation-img.jpg',
  content: `
<p>${litigationData.businessLitigation.intro}</p>

<h2>Key Services</h2>
<ul>
  ${litigationData.businessLitigation.keyServices.map(s => `<li><strong>${s.service}</strong>${s.description}</li>`).join('')}
</ul>

<h2>Why Choose Us?</h2>
<p>${litigationData.businessLitigation.whyChooseUs}</p>
`
};
---

<Layout metadata={metadata}>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <article>
      <header class="intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <h1 class="px-4 sm:px-6 max-w-3xl mx-auto mb-10 text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading">
          {post.title}
        </h1>
        <p class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted text-justify"></p>

        { post.image ? (
          <Image
            src={post.image}
            class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt="Business Litigation"
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t"/>
          </div>
        )}
      </header>
      <div class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl mt-8">
        <Fragment set:html={post.content} />
      </div>
    </article>
  </section>
</Layout>
