---
// LangToggle.astro
import { getI18N } from '~/utils/config';

const languages = Astro.props.languages || {};
const currentLang = Astro.props.currentLang || 'en';

const handleLangChange = (event) => {
  const selectedLang = event.target.value;
  window.location.href = `/${selectedLang}`; // Redirect to the selected language's route
};
---

<div class="relative inline-block">
  <select
    class="p-2 border rounded-lg text-sm focus:outline-none focus:ring"
    aria-label="Language Selector"
    value={currentLang}
    onChange={handleLangChange}
  >
    {Object.keys(languages).map((lang) => (
      <option value={lang} key={lang}>
        {languages[lang].language.toUpperCase()}
      </option>
    ))}
  </select>
</div>